@import 'variables';

.team-info-display {
  // background-color: $dark-color-transparent;
  background-color: $wh-off-white;
  align-self: center;
  order: 20;
  padding: 40px 20px;
  border: 1px solid $off-white-1;
  border-radius: 6;
  box-sizing: border-box;
  width: 90%;
  // margin: 20px;
  section {
    margin-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
  }

  -moz-box-shadow:    inset 0 0 3.5px #000000;
  -webkit-box-shadow: inset 0 0 3.5px #000000;
  box-shadow:         inset 0 0 4.5px #000000;
  

  p {
    color: black;
  }
  
  h2 {
    text-align: center;
    font-size: 3rem;
    color: $display-header;
  }

  h3 {
    font-size: 2.3rem;
    color: $display-header;
    font-weight: 700;
    text-align: center;
  }
  

  img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 100%;
    // text-align: center;
  }

  .stadium-info {
    img {
      width: 75%;
    }
  }

  .team-story-container {
    width: 80%;
  }

  @media screen and (max-width: 992px) {
    img {
      width: 75%;
      margin-left: auto;
      margin-right: auto;
      display: block;
      // need more use here
    }
  }
}