.team-selection {
  background-color: green;
  align-self: center;
  order: 10;

  h4 {
    text-align: center;
  }

  #pick-team-select {
    width: 145px;
    text-align-last: center;
   
    option {
      text-align: center;
    }
  }

  #pick-league-select {
    text-align-last: center;
  }
 
}