@import 'variables';

.team-selection {
  background-color: $dark-color-transparent;
  align-self: center;
  order: 10;
  border: 1px solid $off-white-1;
  border-bottom: none;
  border-radius: 6;
  color: $details-font;

  h4 {
    text-align: center;
  }

  #pick-team-select {
    width: 145px;
    text-align-last: center;
   
    option {
      text-align: center;
    }
  }

  #pick-league-select {
    text-align-last: center;
  }
 
}