@import 'variables';

.team-info-display {
  background-color: $dark-color-transparent;
  align-self: center;
  order: 20;
  padding: 20px 40px;
  border: 1px solid $off-white-1;
  border-radius: 6;

  -moz-box-shadow:    inset 0 0 3.5px #000000;
  -webkit-box-shadow: inset 0 0 3.5px #000000;
  box-shadow:         inset 0 0 4.5px #000000;
  



  p {
    color: $details-font;
  }
  
  h2 {
    text-align: center;
    font-size: 3rem;
    color: $display-header;
  }

  h3 {
    font-size: 1.5rem;
    color: $display-header;
    
  }
  

  img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .stadium-info {
    img {
      width: 75%;
    }
  }

  @media screen and (max-width: 992px) {
    img {
      width: 75%;
      margin-left: auto;
      margin-right: auto;
      display: block;
      // need more use here
    }
  }
}