.team-info-display {
  background-color: red;
  align-self: center;
  order: 20;
  padding: 20px 40px;
  
  h2 {
    text-align: center;
    font-size: 3rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .stadium-info {
    img {
      width: 75%;
    }
  }

  @media screen and (max-width: 992px) {
    img {
      width: 75%;
      margin-left: auto;
      margin-right: auto;
      display: block;
      // need more use here
    }
  }
}