@import '_teamDisplay.scss';
@import '_teamSelection.scss';
@import '_teamInfoContainer.scss';

* {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  background-color: skyblue;
}

@media screen and (max-width: 992px) {
  #app {
    width: 75vw;
  }
  img {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    // need more use here
  }
}



#app {
  h1 {
    font-size: 3.4rem;
    text-align: center;
  }

  width: 100%;
}