@import '_teamDisplay.scss';
@import '_teamSelection.scss';
@import '_teamInfoContainer.scss';
@import '_boldedLabel.scss';
@import 'variables';


* {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

a {
  color: $accent-color;
}

body {
  background-color: $dark-color;
}

@media screen and (max-width: 992px) {
  #app {
    width: 75vw;
  }
  img {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    // need more use here
  }
}

@media screen and (max-width: 1200px) {
  #app {
    width: 75vw;
  }
  img {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    // need more use here
  }
}



#app {
  h1 {
    font-size: 3.4rem;
    text-align: center;
    color: $accent-color;
  }

  width: 100%;
}