$dark-color: rgb(18, 40, 83);
$accent-color: #FACB33;
$dark-color-transparent: rgb(65, 83, 117);
$display-background: slategray;
$off-white-1: rgba(247, 240, 245, 0.5);
$off-white-2: rgb(247, 237, 226);
$details-font: #B2B2B2;
$display-header: #CDAE5E;