$dark-color: rgb(18, 40, 83);
$dark-color-active: #091429;
$accent-color: #FACB33;
$accent-color-active: #7D6619;
$dark-color-transparent: rgb(65, 83, 117);
$display-background: slategray;
$wh-off-white: #F1F1F2;
$off-white-1: rgba(247, 240, 245, 0.5);
$off-white-2: rgb(247, 237, 226);
$details-font: #B2B2B2;
$display-header: #CDAE5E;